* {margin: 0; padding: 0; box-sizing: border-box;}

body, html{
    width: 100%;
    height: 100%;
    font-family: 'Metal Mania', cursive;
    background: #000;
    color: #fff;
}
.perna{display: none;}
.none{display: none;}
.textC{text-align: center;}
.ajusteBack{
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.ajusteWidth{ width: 100%;}
#head{margin: 0 auto;transition: 1s;}

#centro{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(0%, -50%);
}
#tile{display: none;}

#linha{margin: 2vw 0;}
#linha2{display: none;}
#tit{
    background: url('../images/backJog1.png') no-repeat;
    background-position: 50% 50%;
    background-size: 20%;
    padding: 2vw;
    background-repeat: no-repeat;
    font-size: 3vw;
}
#inicio{
    background: url('../images/walp1.jpg');
    height: 100%;
    color: white;  
    background-size: cover;
    overflow: hidden;
    position: relative;
    background-position: 50% 50%;
    width: 100%;
    z-index: 1;
}
#para{
    background: url('../images/MadeupRapidChuckwalla-max-1mb.gif');
    height: 100%;
} 
.logoAct{
    width: 12%;
    margin: 2vw 0px 0 2.8vw;
    border-right: 0.1vw solid #fff;
    padding-right: 2.8vw;
}
.logoSek{
    width: 12%;
    margin: 35px 0px 0 0px;
    padding-left: 30px;
    border-left: 0.1vw solid #fff;
}
#menuIcon{display: none;}
#menu{width: 60%;}
#menu, .logoAct, .logoSek{
    display: inline-block;
    vertical-align: top;
}
#menu ul li{
    list-style: none;
    display: inline-block;
    padding: 1.2vw 10vw 2vw 3.5vw;
    font-size: 2vw;
    margin: 0 10px;
    text-shadow: 1px 1px #000;
    width: 20%;
    align-content: center;
    list-style: none;
}
#menu ul li:hover{
    cursor: pointer;
    transition: 1s
}
.back{
    background: url('../images/backJog1.png') no-repeat;
    background-size: 100%;
}
#frase{
    width: 100%;
    font-size: 1.3vw;
    transition: all 2s ease;
    font-family: 'PT Serif', serif;
    letter-spacing: 3px;
    text-shadow: 1px 2px #000;
}
#logo{transition: all 2s ease;}
#logo img{
    margin: 0 auto;
    width: 50%;
    transition: 1s ;
}
#logo img:hover{width: 52%;}
.btn{
    background: url('../images/backJog.png') no-repeat;
    background-size:100%;
    height: 16%;
    font-size: 4vw;
    text-shadow: 1px 1px #000;
    transition: 1s letter-spacing;
    padding-top: 1vw;
    position: absolute;
    bottom: -4%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    background-clip:padding-box;
}
.btn:hover{
    cursor: pointer;
    letter-spacing: 4px;
}
#historia{
    background: #000;
    margin: 0 auto;
    color: #fff;
}
.content{
    width: 994px;
    color: #fff;
    text-align: justify;
    margin: 0 auto;
}
#historia iframe{
    margin: 2vw 0 0vw 0;
    width: 70%;
}
#historia p, #historia video{
    display: inline-block;
    vertical-align: middle;
    line-height: 2;
}
#historia p{
    width: 50%;
    font-size: 1.5vw;
    font-family: 'PT Serif', serif;
}
#historia video{width: 48%;}
#historia video:nth-child(3){
    margin-right: 14px;
}
.brush{
    position: relative;
    top:-2px;
}
.brush2{
    margin-bottom: -7px;
    transform: rotate(180deg);
}
#premios{
    background: url('../images/baclAll.jpg') fixed;
    height: auto; 
    position: relative;
}
#char{position: relative;}
#chara, #circle{
    position: absolute;
    top: 0px;
    left: 80px;
    width: 40vw;
    z-index: 1;
    transition: 1s transform;
} 
#circle{ z-index: 0; transition: 1s }
#chara:hover ~ #circle{transform: rotate(50deg);}
#descricao{
    font-family: 'PT Serif', serif;
    color: #000;
    width: 46%;
    text-align: justify;
    font-size: 1.8vw;
    float: right;
    margin-top: 8.5vw;
    margin-right: 4.5vw;
    line-height: 1.8;
}
#descricao, #char{
    vertical-align: middle;
    display: inline-block;
}
#inimigos{
    margin: auto; 
    width: 994px;
}
.images{display: inline-block;}
.boxInimigo{
    width: 30%;
    display: inline-block;
    margin: 0 10px;
    transition: 1s;
}
.boxInimigo img{
    width: 23vw;
    margin: 10px 40px 0 0;
    transition: 1s;
}
.ajustePlay{
    position: absolute;
    font-size: 3vw;
    padding: 20px;
    background: rgb(128, 6, 6, 0.5);
    color: #fff;
    top: 35%;
    left: 35%;
    transition: 1s;
}
.ajustePlay:hover{font-size: 3.5vw;}
#videoIni{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgb(0, 0, 0, 0.95);
    padding-top: 7%;
    display: none;
}
#videoIni iframe{
    position: relative;
    outline: none;
    border: 10px solid #fff;
    width: 1000px;
    height: 570px;
}
.close{
    position: absolute;
    font-size: 40px;
    top: 6%;
    right: 13.8%;
    max-width: 32px;
}
#comprar{
    background: url('../images/baclAll.jpg') fixed;
    text-align: center;
    position:relative; 
    background-size: 100%;
    width: 100%;
}
#circle2{
    width: 30%;
    position: absolute;
    left: 34%;
    z-index: 0;
    transition: 1s;
}
.imgComprar:hover ~ #circle2{transform: rotate(30deg);}
.imgComprar{
    width: 25%;padding-top: 2vw;
    position: relative;
    z-index: 1;
}
#plat{
    display: inline;
    margin: 10px 40px;
    transition: 1s;
}
#plat:hover{
    width: 110%;
}
footer{
    color: rgb(177, 177, 177);
    font-family: 'PT Serif', serif;
    font-size: 20px;
    padding: 20px 0;
    position: absolute;
    z-index: 100;
}
footer img{
    padding: 10px;
    margin: 10px 30px;
    width: 200px;
    vertical-align: middle;
}
footer ul{width: 100%;}
footer ul li{
    width: 6%;
    display: inline-block;
    list-style: none;
    font-size: 40px;
    color: #6b0707;
}
.brush3{
    transform: rotate(180deg);
    margin-bottom: -6px;
}
@media screen and (max-width: 1024px){  
    #frase{
        font-size: 2.5vw;
        text-shadow: 1px 1px #000;
    }
    #logo img{width: 90%;}
    #logo img:hover{width: 90%;;}
    #menu{
        width: 100%;
        margin-top: 3vw;
        padding: 0;
    }
    #menu ul li{
        background: none;
        font-size: 5vw;
        text-align: center;
        transition: 1s;
        border-top: 1px solid #fff;
        width: 100%;
        margin: 0;
        padding: 3vw 0;
        background: rgb(0, 0, 0, 0.6);
    }
    #menu ul li:hover{
        background: none;
        margin: 0;
        padding: 3vw 0;
    }
    #menu ul{display: none;}
    #menuIcon{
        margin-top: 3vw;
        width: 13%;
        transition: 1s;
        display: initial;
        float: right;
        margin-right: 3vw;
    }
    #head{
        z-index: 2;
        position: fixed;
        vertical-align: top;
        background: rgba(0, 0, 0);
        width: 100%;
        height: auto;
        z-index: 1000;
    }
    #historia p, #historia video{
        display: block;
        line-height: 2;
    }
    .none{display: block; margin: 0 auto;}
    #historia video:nth-child(3){display: none;}
    .logoAct{
        margin-top: 5vw;
        width: 45%;
        border-right: 0;
        float: left;
    }
    #tile{display: block; position: absolute; width: 100%; bottom:0;}
    .logoSek{display: none;}
    #inicio{
        background-size: cover;   
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center center;}
    #tit{
        padding: 2.5vw;
        background-size: 60%;
        font-size: 10vw;
    }
    .content{
        width: 100%;
        margin: 0 auto;
        display: block;
        align-content: center;
    }
    #historia p{
        width: 100%;
        font-size: 5vw;
    }
    #historia video{ width: 100%; margin: 2vw 0}
    #historia{
        text-align: center;
        padding: 30px 30px;
    }
    #historia iframe{
        width: 100%;
        height: 200px;
    }
    #linha img{width: 80%;}
    .btn{
        display: absolute;
        bottom: 10px;
        font-size: 10vw;
        padding-top: 3%;
        z-index: 1;
        width: 85%;
    }
    #descricao{
        font-size: 4vw;
        width: 100%;
        margin: 0;
        padding: 15px 30px;
    }
    .perna{width: 80%; margin-left: 9%; display: block;}
    #chara, #circle{
        display: none;
    } 
    #chara:hover ~ #circle{transform: rotate(0deg);}
    #circle{ z-index: 0}
    #inimigos{width: 80%;}
    .boxInimigo{display: block;}
    .boxInimigo img{
        width: 80vw;
        margin: 10px 0 0 0;
    }
    .in{margin-top: 10vw;}
    #videoIni iframe{
        max-width: 90%;
        max-height: 50%;
    }
    #videoIni {padding-top: 50%;}
    .close{right: 7%; top: 4%}
    #comprar{
        background: url('../images/baclAll.jpg') fixed;
        text-align: center;
        height: auto;
    }
    .ajustePlay{
        top:40%;
        left: 120%;
    }
    #circle2{display: none;}
    .imgComprar{
        width: 75%;
        padding-top: 8vw;
        position: relative;
        z-index: 0;
    }
    #premios{height: auto;}
    .brush2{position: absolute; left: 0; bottom: 0;}
    footer ul li{
        width: 20%;
    }
}

@media screen and (min-width: 1370px){
    #trilhe{width: 50%;}
    #historia p{
        margin-top: 2vw;
        width: 55%;
        font-size: 1.2vw;
        font-family: 'PT Serif', serif;
    }
    #head{
        padding-top: 20px;
        position: sticky;
        background: none;
    }
    #inicio{
        background-size: cover;
        background-position:  100% 100%;;
    }
    #logo{width: 100%;}
    #logo img{width: 40%;}
    #logo img:hover{width: 42%;}
    #frase{font-size: 1vw; }
    #premios{background-size: cover;}

    #chara, #circle{
        left: 150px;
        width: 35vw;
        z-index: 1;
        transition: 0s;
    }
    #circle{transition: 1s;}
    #descricao{
        font-family: 'PT Serif', serif;
        color: #000;
        width: 46%;
        text-align: justify;
        font-size: 1.8vw;
        float: right;
        margin-top: 6vw;
        margin-right: 7vw;
        line-height: 1.6;
    }
    .in{margin-top: 25px;}
    #circle{z-index: 0;}
    #historia video{width: 25vw;}
    #historia video:nth-child(3){margin: 0vw 1.9vw 0 0vw;}
    #linha{display: none;}
    #linha2{ height: 40px;
        text-align: center;
        padding: 2vw 0 3vw 0;
        display: block;
    }
    #menu ul li{
        background-position: center center;
        background-size: 100%;
        width: 24%;
        font-size: 2.3vw;
        padding:10px 0px 10px 0px;
        transition: 1s width;
    }
    #menu ul li:hover{
        letter-spacing: 0;
        padding:10px 0px 10px 0px;
        width: 25%;
    }
    #linha2 img{
        width: 1320px;
        height: 30px;
    }
    .content{width: 1300px;}
    #video iframe{
        margin-bottom: 40px;
        height: 700px;
        width: 1250px;
    }
    .btn{
        font-size: 4.5vw;
        height: 18.5%;
        width: 35%;
    }
    #historia{padding: 4vw 0}
    #inimigos{
        width: 1500px;
        text-align: center;
    }
    .fas .fa-play{
        position: absolute;
        bottom: 70px;
    }
}

@media screen and (min-width: 400px) and (max-height: 823px){
    #menu ul{top: 74px;}
    #premios{height: auto;}
}
@media screen and (min-width: 1280px) and (max-height: 730px){
    #inicio{
        background-position: 55% 100%;
        background-size: cover;
    }
    .close{right: 11.8%;}
    
    footer ul li{
        padding: 5px 30px 5px 30px;
        display: inline-block;
        list-style: none;
        font-size: 40px;
    }
    #historia p{
        width: 54%;
        font-size: 1.2vw;
        font-family: 'PT Serif', serif;
    }
    #historia video{width: 38%;}
    #historia video:nth-child(3){
        margin-right: 4vw;
        margin-left: 1vw;
    }
}
@media screen and (min-width: 1900px) and (max-height: 1085px){
    #frase{padding-top: 10%;} 
    #centro{
    position: absolute;
    width: 100%;
    top: 35%;
    transform: translate(0%, -50%);}
    #descricao{
        margin-top: 8vw;
    }
}
@media screen and (width: 1920px) and (height: 1080px){
    .btn{padding-top: 0.9vw; font-size: 4.5vw;}
}
@media screen and (width: 375px) and (height: 812px){
    .btn{
        background-size: 100%;
        height: 10%;
    }
    
}

@media screen and (width: 411px) and (height: 823px){
    #head{height: auto;}
    #menuIcon{margin-top: 3.5vw;}
    .btn{background-size: 100%;}
}
@media screen and (width: 768px) and (max-height: 1030px){
    #head{height: auto;}
    #menuIcon{margin-top: 3vw; width: 12%;}
    #historia{padding: 3vw;}
    #historia iframe{
        margin: 2vw 0 0vw 0;
        width: 80%;
        height: 400px;
    }
    #chara, #circle{
        top: 500px;
        left: 100px;
    } 
    #historia p, #historia video{
        padding: 0 5vw;
        font-size: 4vw;
    }
    #linha{margin: 3vw 0;}
    .ajustePlay{
        font-size: 10vw;
        top: 35%;
        padding: 30px;
        left: 115%;
    }
    .ajustePlay:hover{
        font-size: 10vw;
        top: 35%;
        padding: 30px;
        left: 115%;
    }
    #videoIni iframe{
        width: 100%;
        height: 100%;
    }
    .btn{
        padding-top: 2vw;
    }
}

@media screen and (width: 1024px) and (height: 1366px){
    #menuIcon{margin-top: 3vw; width: 12%;}
    #historia{padding: 3vw;}
    #historia iframe{
        margin: 2vw 0 0vw 0;
        width: 80%;
        height: 400px;
    }
    #premios{height: auto; background-size: cover; background-position: center center;}
    .btn{
        padding-top: 2.5vw;
        width: 70%;
        font-size: 10vw;
    }
    #historia p, #historia video{
        padding: 0 5vw;
        font-size: 4vw;
    }
    #linha{margin: 3vw 0;}
    .ajustePlay{
        font-size: 10vw;
        top: 35%;
        padding: 30px;
        left: 115%;
    }
    .ajustePlay:hover{
        font-size: 10vw;
        top: 35%;
        padding: 30px;
        left: 115%;
    }
    #videoIni iframe{
        width: 100%;
        height: 500vw;
    }
    #comprar{background-size: cover;}
}

@media screen and (min-width: 550px) and (max-width: 1024px) and (min-height: 320px) and (max-height: 820px){
    .logoAct{
        width: 26%;
    }
    #menuIcon{
        width: 8%;
    }
    #centro{
        width: 68%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #frase{
        font-size: 2vw;
    }
    .btn{
        font-size: 4vw;
        width: 30%;
        padding-top: 1vw;
    }
    .content{
        font-size: 0.1vw;
    }
    #historia iframe{
        height: 300px;
    }
    #videoIni iframe{
        height: 600px;
    }
}
::-webkit-scrollbar-track {
    background-color:#000;
}
::-webkit-scrollbar {
    width: 8px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #6b0707;
    border-radius: 5px;
}
